MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD='123456'
## 需要显式指定默认数据库名：
# MYSQL_DATABASE=your_database_name

## 安全策略：默认只允许 SELECT（避免增删改）
ALLOW_WRITE=false

## 允许访问的表（逗号分隔）；留空表示全部表
INCLUDE_TABLES=

## 是否打印模型输出
PRINT_MODEL_OUTPUT=true